body {
    background-image: url(../../image/phone.jpg);
    background-size: cover;
    font-family: "Harmattan", sans-serif;
}
.content {
    flex-direction: row-reverse;
    background-size: cover;
}
.login {
    width: 500px;
    background-color: transparent;
    background-image: url("../../image/bg.jpg");
    border: 1px solid #25357059;
    box-shadow: 2px 2px 15px #333;
}

h3 {
    color: #253570a6;
}

h2 {
    color: #253570a6;
    padding: 1px;
    margin-top: 5px;
}
.login-top {
    background-color: #6c757d1c;
    padding: 2px;
}
.login-bottom {
    background-color: #6c757d1c;
    height: 25px;
}

.btn-submit {
    background-color: #657097b3 !important;
    color: #eaeaea !important;
}

.nav-link {
    color: #253570 !important ;
    font-size: 20px;
    margin: 10px;
}

.input:focus {
    padding: 0px 0px 0px 26px;
    border-radius: 0px;
    box-shadow: 0px 0px 31px #253570a6;
    font-size: 18px;
    border-color: transparent;
}
.input {
    padding: 0px 0px 0px 26px;
    background: #f1f1f1;
    border-radius: 0px;
    font-size: 17px;
}
i {
    position: relative;
    top: -36px;
    left: 8px;
    color: #687299;
}

.footer {
    color: #253570;
    font-size: 20px;
    font-weight: 400;
    margin-top: 810px;
}

@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
}

@media screen and (max-width: 991px) {
    h3 {
        width: 1000px;
    }
}

@media screen and(max-width:767px) and (min-width: 500px) {
    body {
        background-image: none;
    }
}
